
@{
    ViewData["Title"] = "Campaigns";
}

    <style>

        .modal-backdrop {
            opacity: 0 !important;
        }

        body {
            height: 100vh;
            overflow-x: hidden;
        }

        /* set the sidebar width */
        .w-sidebar {
            width: 200px;
            max-width: 200px;
        }

        .row.collapse {
            margin-left: -200px;
            left: 0;
            transition: margin-left .15s linear;
        }

            .row.collapse.show {
                margin-left: 0 !important;
            }

        .row.collapsing {
            margin-left: -200px;
            left: -0.05%;
            transition: all .15s linear;
        }

        /* optional */
        .vh-100 {
            min-height: 100vh;
        }

        /* optional for overlay sidebar on small screens */
        @@media (max-width:768px) {

            .row.collapse,
            .row.collapsing {
                margin-left: 0 !important;
                left: 0 !important;
                overflow: visible;
            }

            .row > .sidebar.collapse {
                display: flex !important;
                margin-left: -100% !important;
                transition: all .3s linear;
                position: fixed;
                z-index: 1050;
                max-width: 0;
                min-width: 0;
                flex-basis: auto;
            }

            .row > .sidebar.collapse.show {
                margin-left: 0 !important;
                width: 100%;
                max-width: 100%;
                min-width: initial;
            }

            .row > .sidebar.collapsing {
                display: flex !important;
                margin-left: -10% !important;
                transition: all .2s linear !important;
                position: fixed;
                z-index: 1050;
                min-width: initial;
            }
        }
    </style>

    <body>
        <div class="row collapse show no-gutters d-flex h-100 position-relative">
            <div class="col-3 px-0 w-sidebar navbar-collapse collapse d-none d-md-flex">
                <!-- spacer col -->
            </div>
            <div class="col px-2 px-md-0">
                <!-- toggler -->
                <a id="openSideNav" onclick="toggleNavBarScrollAndIcons()" data-toggle="collapse" data-target="#planSideNav" role="button" class="p-1 d-lg-none">
                    Campaign List
                    <i id="iconNavBarOpen" class="far fa-arrow-alt-circle-right fa-lg text-white" type="button"></i>
                    <i id="iconNavBarClose" class="far fa-arrow-alt-circle-left fa-lg text-white d-none" type="button"></i>
                </a>
            </div>
        </div>
        <div class="row vh-100 collapse show no-gutters d-flex h-100 position-relative">

            <div id="planSideNav" class="col-3 p-0 h-100 w-sidebar navbar-collapse collapse d-none d-md-flex sidebar" style="background-color: #121212">
                <!-- fixed sidebar -->
                <div class="position-fixed text-white h-100 w-sidebar pl-2">
                    <ul class="list-unstyled mt-3">
                        <li class="nav-item mb-3">
                            <a data-toggle="modal" data-target="#manageSectionsModal" role="button" class="p-1">
                                Manage Campaigns
                                <i class="fas fa-tasks fa-lg text-white" type="button"></i>
                            </a>
                        </li>
                        @foreach (var campaign in Model.Campaigns)
                        {
                        <li type="disc mb-3">
                            <button class="btn btn-link text-white" href="#" onclick="selectCampaign(@campaign.CampaignID)">@campaign.CampaignName</button>
                        </li>
                        }
                        <li class="nav-item">
                            <button class="text-success btn btn-link" data-toggle="collapse" data-target="#newCampaignArea">New Campaign +</button>
                        </li>
                        <li id="newCampaignArea" class="nav-item collapse">
                            <input id="inputCampaignName" type="text" class="form-control" placeholder="Campaign Name" />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col p-3">
                @if (Model.SelectedCampaign != null)
                {
                    <div class="jumbotron" style="background-color: #121212">
                        <h4 id="sessionNoteName" class="display-5 text-center">@Model.SelectedCampaign.CampaignName</h4>
                        <hr />
                        <div class="row justify-content-center align-items-center">
                            <nav class="nav navbar-dark">
                                <a href="@Url.Content($"~/Identity/User/SessionNotes")" class="nav-link">Session Notes</a>
                                <a class="nav-link" href="#">Maps</a>
                                <a href="@Url.Content($"~/Identity/User/AdventureLog")" class="nav-link">Adventure Logs</a>
                            </nav>
                        </div>
                        <p>@Model.SelectedCampaign.CampaignDescription</p>
                    </div>
                }
            </div>
        </div>
        <!-- fixed sidebar -->
</body>

@*<div class="row no-gutters">
    <div class="col">
        <div class="list-group border border-secondary">
            @foreach (var campaign in Model.Campaigns)
            {
                <a href="#" class="list-group-item list-group-item-action" onclick="selectCampaign(@campaign.CampaignID)">@campaign.CampaignName</a>
            }
            <a href="#" data-toggle="collapse" data-target="#collapseNewCampaign" class="list-group-item list-group-item-action text-success">+ New Campaign</a>
        </div>
    </div>
    @if (Model.SelectedCampaign != null)
    {
        <div class="col-lg-9">
            <div class="card text-dark border border-light shadow">
                <div class="card-body">
                    <h3 class="card-header mb-3">@Model.SelectedCampaign.CampaignName</h3>
                    <a href="@Url.Content($"~/Identity/User/AdventureLog")" class="btn border border-secondary">Adventure Logs</a>
                    <a href="@Url.Content($"~/Identity/User/SessionNotes")" class="btn border border-secondary">Session Notes</a>
                    <a href="#" class="btn border border-secondary">Maps</a>
                    <p class="card-text mt-3">@Model.SelectedCampaign.CampaignDescription</p>
                    <button class="float-right btn border border-danger text-danger" onclick="deleteCampaign(@Model.SelectedCampaign.CampaignID)">Delete Campagin</button>
                </div>
            </div>
        </div>
    }
</div>

<div class="collapse" id="collapseNewCampaign">
    <div class="jumbotron bg-dark text-dark">
        <form id="formAddCampaign">
            <div class="input-group mb-3">
                <input type="text" id="inputCampaignName" class="form-control" placeholder="Campaign Name">
            </div>
            <div>
                <textarea id="areaCampaignDescription" class="form-control" placeholder="Campaign Description..." rows="10" cols="50"></textarea>
            </div>
            <input class="btn border-success text-success mt-3" type="submit" id="button-addon2">
            <button class="btn border-danger text-danger mt-3 float-right" data-toggle="collapse" data-target="#collapseNewCampaign">Cancel</button>
        </form>
    </div>
</div>*@

<script>

    const uri = "api/Campaigns/";
    const inputAddCampaign = $("#inputCampaignName");
    const formData = new FormData();

    inputAddCampaign.on("keypress focusout", async function (evt) {
        var key = evt.which;
        if (key == 13 || key == 0) {

        evt.preventDefault();

        item = {

            campaignName: inputAddCampaign.val(),

        }

        fetch(uri, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(item)
        })
            .then((response) => response.json())
            .then(() => location.reload())
            .catch(() => console.log("Failed to create item"));
        }

    });


    function selectCampaign(id) {


        fetch(uri + id, {
            method: 'PUT',
        })
            .then(() => location.reload())
            .catch(() => console.log("Failed to update item"));
    }

    function deleteCampaign(id) {

        fetch(uri + id, {
            method: 'DELETE'
        })
            .then(() => location.reload())
            .catch(() => console.log("Failed to delete item"));

    }

</script>
