@{
    ViewData["Title"] = "Campaigns";
}
<div class="row no-gutters">
    <div class="col">
        <div class="list-group border border-secondary">
            @foreach (var campaign in Model.Campaigns)
            {
                <a href="#" class="list-group-item list-group-item-action" onclick="selectCampaign(@campaign.CampaignID)">@campaign.CampaignName</a>
            }
            <a href="#" data-toggle="collapse" data-target="#collapseNewCampaign" class="list-group-item list-group-item-action text-success">+ New Campaign</a>
        </div>
    </div>
    @if (Model.SelectedCampaign != null)
    {
        <div class="col-lg-9">
            <div class="card text-dark border border-light shadow">
                <div class="card-body">
                    <h3 class="card-header mb-3">@Model.SelectedCampaign.CampaignName</h3>
                    <a href="@Url.Content($"~/Identity/User/AdventureLog")" class="btn border border-secondary">Adventure Logs</a>
                    <a href="@Url.Content($"~/Identity/User/SessionNotes")" class="btn border border-secondary">Session Notes</a>
                    <a href="#" class="btn border border-secondary">Maps</a>
                    <p class="card-text mt-3">@Model.SelectedCampaign.CampaignDescription</p>
                    <button class="float-right btn border border-danger text-danger" onclick="deleteCampaign(@Model.SelectedCampaign.CampaignID)">Delete Campagin</button>
                </div>
            </div>
        </div>
    }
</div>

<div class="collapse" id="collapseNewCampaign">
    <div class="jumbotron bg-dark text-dark">
        <form id="formAddCampaign">
            <div class="input-group mb-3">
                <input type="text" id="inputCampaignName" class="form-control" placeholder="Campaign Name">
            </div>
            <div>
                <textarea id="areaCampaignDescription" class="form-control" placeholder="Campaign Description..." rows="10" cols="50"></textarea>
            </div>
            <input class="btn border-success text-success mt-3" type="submit" id="button-addon2">
            <button class="btn border-danger text-danger mt-3 float-right" data-toggle="collapse" data-target="#collapseNewCampaign">Cancel</button>
        </form>
    </div>
</div>

<script>

    const uri = "api/Campaigns/";
    const formAddCampaign = $("#formAddCampaign");
    const formData = new FormData();

    formAddCampaign.on("submit", async function (evt) {

        evt.preventDefault();

        item = {

            campaignName: $("#inputCampaignName").val(),
            campaignDescription: $("#areaCampaignDescription").val()

        }

        fetch(uri, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(item)
        })
            .then((response) => response.json())
            .then(() => location.reload())
            .catch(() => console.log("Failed to create item"));

    });


    function selectCampaign(id) {


        fetch(uri + id, {
            method: 'PUT',
        })
            .then(() => location.reload())
            .catch(() => console.log("Failed to update item"));
    }

    function deleteCampaign(id) {

        fetch(uri + id, {
            method: 'DELETE'
        })
            .then(() => location.reload())
            .catch(() => console.log("Failed to delete item"));

    }

</script>
