
@{
    ViewData["Title"] = "New Map";
}


<h1 class="display-4 text-center mb-3">New Map</h1>

<form id="newMapForm">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <label for="inputMapName">Map Name</label>
            <div class="input-group mb-3">
                <input id="inputMapName" type="text" class="form-control" placeholder="Map Name" required autocomplete="off" />
            </div>
            <label for="inputSessionSection">Related Session Section</label>
            <div class="input-group mb-3">
                <input id="inputSessionSection" type="text" class="form-control" placeholder="Session Section to Link" />
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary dropdown-toggle text-white" type="button" data-toggle="dropdown">Select</button>
                    <div class="dropdown-menu">
                        @foreach (var sessionSection in Model.SelectedCampaignSessionSections)
                        {
                            <button class="dropdown-item" onclick="DisplaySessionNotesForSection(@(sessionSection.SessionSectionID))">@sessionSection.SessionSectionName</button>
                        }
                    </div>
                </div>
            </div>
            <label for="inputSessionNote">Related Note</label>
            <div class="input-group mb-3">
                <input id="inputSessionNote" type="text" class="form-control" placeholder="Session Note to Link" />
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary dropdown-toggle text-white" type="button" data-toggle="dropdown">Select</button>
                    <div class="dropdown-menu">
                        @foreach (var sessionNote in Model.SelectedCampaignSessionNotes)
                        {
                            <button class="dropdown-item">@sessionNote.SessionNoteTitle</button>
                        }
                    </div>
                </div>
            </div>
            <label for="fileInput">Map File</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="fileInput" required />
                <label class="custom-file-label" for="inputGroupFile04">Choose File</label>
            </div>
            <div class="mt-5">
                <center>
                    <button id="fileUploadButton" type="submit" class="btn btn-lg broder border-success text-white mt-3">Upload <i class="fas fa-upload"></i></button>
                </center>
            </div>
        </div>
    </div>
    <input id="inputCampaignId" class="d-none" value="@Model.SelectedCampaignID" />
</form>

<script>

    function DisplaySessionNotesForSection(sessionSectionId) {

        var sessionNotes = [];
        fetch("api/SessionSection/" + sessionSectionId).then(response => sessionNotes = response.json)

        sessionNotes.forEach(note => console.log(note))


    }

    const mapGalleryUrl = "@Url.Content("~/Identity/User/MapGallery")";
    let fileInput = document.getElementById("fileInput");
    let formData = new FormData();

    /*UPLOAD ON FILE SELECTION*/
    $("#newMapForm").on("submit", async function (evt) {
        evt.preventDefault();

        formData.append("file", fileInput.files[0]);
        formData.append("mapName", $("#inputMapName").val());

        fetch("api/File",
            {
                method: 'POST',
                body: formData
            })
            .then(() => location.href = mapGalleryUrl)
            .catch("Failed to upload file.")
    });
</script>