
@{
    ViewData["Title"] = "New Map";
}

<h1 class="display-4 text-center mb-3">New Map</h1>
<div class="row justify-content-center">
    <div class="col-lg-6">
        @*<form id="sectionForm">*@
            <label for="inputSessionSection">Related Session Section</label>
            <div class="input-group mb-3">
                <input id="inputSessionSection" type="text" class="form-control" placeholder="Session Section to Link" />
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary dropdown-toggle text-white" type="button" data-toggle="dropdown">Select</button>
                    <div class="dropdown-menu">
                        @foreach (var sessionSection in Model.SelectedCampaignSessionSections)
                        {
                            <button class="dropdown-item" onclick="DisplayNotesForSection(@(sessionSection.SessionSectionID))" value="@(sessionSection.SessionSectionID)">@sessionSection.SessionSectionName</button>
                        }
                    </div>
                </div>
            </div>
            <label for="inputSessionNote">Related Note</label>
            <div class="input-group mb-3">
                <input id="inputSessionNote" type="text" class="form-control" placeholder="Session Note to Link" />
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary dropdown-toggle text-white" type="button" data-toggle="dropdown">Select</button>
                    <div id="dropDownNotes" class="dropdown-menu">

                        @*@foreach (var sessionNote in Model.SelectedCampaignSessionNotes)
                        {
                            <button class="dropdown-item">@sessionNote.SessionNoteTitle</button>
                        }*@
                    </div>
                </div>
            </div>
        @*</form>*@
        <form id="newMapForm">
            <label for="fileInput">Map File</label>
            <div class="custom-file mb-3">
                <input type="file" class="custom-file-input" id="fileInput" required />
                <label class="custom-file-label" for="inputGroupFile04">Choose File</label>
            </div>
            <label for="inputMapName">Map Name</label>
            <div class="input-group mb-3">
                <input id="inputMapName" type="text" class="form-control" placeholder="Map Name" required autocomplete="off" />
            </div>
            <div class="mt-5">
                <center>
                    <button id="fileUploadButton" type="submit" class="btn btn-lg broder border-success text-white mt-3">Upload <i class="fas fa-upload"></i></button>
                </center>
            </div>
            <input id="inputCampaignId" class="d-none" value="@Model.SelectedCampaignID" />
        </form>
    </div>
</div>

<script>

    //function DisplaySessionNotesForSection(sessionSectionId) {

    //    var sessionNotes = [];
    //    fetch("api/SessionSection/" + sessionSectionId).then(response => sessionNotes = response.json)

    //    sessionNotes.forEach(note => console.log(note))

    //}

    //$("#sectionForm").on("submit", async function (evt) {
    function DisplayNotesForSection(sessionSectionId) {
        //evt.preventDefault();

        fetch("api/SessionNote/SectionNotes/" + sessionSectionId)
            .then(response => response.json())
            .then(data => AddNotesToDropDown(data));
    }

    //});

    function AddNotesToDropDown(data) {

        let noteDropDown = $("#dropDownNotes");
        noteDropDown.empty();

        data.forEach(note => {
            var noteHtml = "<button class='dropdown-item'>" + note.sessionNoteTitle + "</button>";

            noteDropDown.append(noteHtml);
        });
    }

    const mapGalleryUrl = "@Url.Content("~/Identity/User/MapGallery")";
    
    /*UPLOAD ON FILE SELECTION*/
    $("#newMapForm").on("submit", async function (evt) {
        evt.preventDefault();

        let fileInput = document.getElementById("fileInput");
        let formData = new FormData();

        formData.append("file", fileInput.files[0]);
        formData.append("mapName", $("#inputMapName").val());

        fetch("api/Map",
            {
                method: 'POST',
                body: formData
            })
            .then(() => location.href = mapGalleryUrl)
            .catch("Failed to upload file.")
    });
</script>