@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@inject UserManager<IdentityUser> UserManager
@{var user = User.FindFirstValue(ClaimTypes.NameIdentifier);}
@{
    ViewData["Title"] = "Adventure Log";
}
<h6 class="display-4 text-center mb-3">Endevrian Adventure Logs</h6>

@if (user != null)
{
    <a class="btn btn-outline-primary" asp-area="Identity" asp-controller="Author" asp-action="NewAdventureLog">New Session Log</a>
}

@if (Model.AdventureLogs.Count > 0)
{
    @foreach (var logForDisplay in Model.AdventureLogs)
    {
        <div class="jumbotron" style="background-color: #121212">
            <h3>@logForDisplay.LogTitle</h3>
            <p>@logForDisplay.DisplayLogDate</p>
            <hr class="my-4">
            <div>@Html.Raw(logForDisplay.LogBody)</div>
            @if (user == logForDisplay.UserId)
            {
                <a class="btn btn-outline-primary mt-3" asp-area="Identity" asp-controller="Author" asp-action="NewAdventureLog" asp-route-adventureLogID="@logForDisplay.AdventureLogID">Edit Log</a>
                @*<a class="btn btn-outline-primary" asp-area="Identity" asp-controller="Author" asp-action="NewWikiPage" asp-route-campaignID="@campaign.CampaignID">Add Page to This Wiki</a>*@
            }
        </div>
        @*var logId = logForDisplay.AdventureLogID;

            @if (user == logForDisplay.UserId)
            {
                <div class="jumbotron" style="background-color: #121212">
                    <h3 id="hLogTitle@(logId)" onclick="displayEditLogName(@(logId))">@logForDisplay.LogTitle</h3>
                    <input id="inputLogTitle@(logId)" class="d-none form-control" onfocusout="editLogName(@(logId))" />
                    <p>@logForDisplay.DisplayLogDate</p>
                    <hr class="my-4">
                    <div id="pLogBody@(logId)" class="text-white" onclick="displayEditLogBody(@(logId))">@Html.Raw(logForDisplay.LogBody)</div>
                    <div class="text-dark">
                        <textarea id="areaInputLogBody@(logId)" class="d-none form-control" rows="10" cols="50"></textarea>
                    </div>
                    <div class="d-flex flex-column p-2 align-items-end">
                        <div>
                            <button id="btnUpdateLogBody@(logId)" class="d-none btn border border-success text-success mb-3">Update</button>
                        </div>
                        <div>
                            <button id="btnDeleteLog@(logId)" class="btn border border-danger text-danger" onclick="deleteAdventureLog(@logId)">Delete</button>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="jumbotron" style="background-color: #121212">
                    <h3>@logForDisplay.LogTitle</h3>
                    <p>@logForDisplay.DisplayLogDate</p>
                    <hr class="my-4">
                    <div>@Html.Raw(logForDisplay.LogBody)</div>
                </div>
            }*@
    }
}
else
{
    <p>No Adventure Logs have been made yet.</p>
}