@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@inject UserManager<IdentityUser> UserManager
@{var user = User.FindFirstValue(ClaimTypes.NameIdentifier);}
<div class="row justify-content-center">
    <div class="col-lg-4">
        <form id="formSearch" asp-controller="Home" asp-action="WikiContent">
            <div class="input-group mb-3">
                <input id="inputUserSearch" type="text" class="form-control" placeholder="Search the wiki" name="searchQuery" autocomplete="off">
                <div class="input-group-append">
                    <button id="btnSearch" class="btn btn-outline-secondary" type="submit">
                        <i class="fa fa-search text-white" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
@if (Model.SelectedPage != null)
{

    ViewData["Title"] = Model.SelectedPage.PageName;

    <div class="row">
        <div class="col-sm-4">
            <div class="card border-0 shadow" style="width: 21rem; background-color: #121212;">
                <div class="card-header">
                    <h3>@Model.SelectedPage.PageName</h3>
                </div>
                @if (!string.IsNullOrWhiteSpace(Model.SelectedPage.ImagePath))
                {
                    <img loading="lazy" src="@Model.SelectedPage.ImagePath" alt="No Image Found" class="card-img-top">
                }
                <div class="card-body">
                    <p>@Model.SelectedPage.CardContent</p>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <p>@Html.Raw(Model.SelectedPage.WikiContent)</p>
        </div>
    </div>

    if (user == Model.SelectedPage.UserId)
    {
        <a class="btn btn-outline-primary mt-3" asp-area="Identity" asp-controller="Author" asp-action="NewWikiPage" asp-route-campaignID="@(Model.SelectedPage.CampaignID)" asp-route-wikiPageID="@(Model.SelectedPage.WikiPageID)">Edit Wiki Page</a>
    }
}
else if (Model.SearchResults.Count > 0)
{
    ViewData["Title"] = "Wiki Search Results";
    <div>
        <ul class="list-group list-group-flush mb-5">
            @foreach (var page in Model.SearchResults)
            {
                <li class="list-group-item" style="background-color: #121212;">
                    <a asp-area="" asp-controller="Home" asp-action="WikiContent" asp-route-wikiPageID="@(page.WikiPageID)">@(page.PageName)</a>
                </li>
            }
        </ul>
    </div>
}
else
{
    ViewData["Title"] = "Wiki Search Results";
    <h6 class="display-4 text-center">Could not find any wiki entries matching your search terms.</h6>
}




