@{
    ViewData["Title"] = "New Wiki Page";
}

<style>
    img {
        border: 1px solid #ddd; /* Gray border */
        border-radius: 4px; /* Rounded border */
        padding: 5px; /* Some padding */
        width: 150px; /* Set a small width */
    }

    .borderless td, .borderless th {
        border: none;
    }
</style>

<p>Add New Wiki Page to @(Model.Campaign.CampaignName)</p>

@if (Model.WikiPage != null)
{
    <div class="row">
        <div class="col-sm-4">
            <div class="card border-0 shadow" style="width: 21rem; background-color: #121212;">
                <div class="card-header">
                    <input id="inputPageName" class="form-control mb-3" type="text" placeholder="Enter Page Title" value="@Model.WikiPage.PageName" />
                </div>
                @if (!string.IsNullOrWhiteSpace(Model.WikiPage.ImagePath))
                {
                    <img src="@Model.WikiPage.ImagePath" />
                }
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="fileInput">
                    <label class="custom-file-label" for="customFile">Click Here to Add an Image</label>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
        <div class="col-sm-8 text-dark">
            <textarea class="form-control" id="areaInputWiki" rows="5" cols="50" placeholder="In the days of old...">@Model.WikiPage.WikiContent</textarea>
        </div>
    </div>
    <input id="hiddenCampaignId" class="d-none" value="@(Model.Campaign.CampaignID)" />
    <input id="hiddenWikiPageId" class="d-none" value="@(Model.WikiPage.WikiPageID)" />
}
else
{
    <div class="row">
        <div class="col-sm-4">
            <div class="card border-0 shadow" style="width: 21rem; background-color: #121212;">
                <div class="card-header">
                    <input id="inputPageName" class="form-control mb-3" type="text" placeholder="Enter Page Title"/>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="fileInput">
                    <label class="custom-file-label" for="customFile">Click Here to Add an Image</label>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
        <div class="col-sm-8 text-dark">
            <textarea class="form-control" id="areaInputWiki" rows="5" cols="50" placeholder="In the days of old..."></textarea>
        </div>
    </div>
    <input id="hiddenCampaignId" class="d-none" value="@(Model.Campaign.CampaignID)" />
    <input id="hiddenWikiPageId" class="d-none" value="0" />
}

<button class="btn btn-secondary mt-3" id="btnSubmitWiki">Submit</button>

<script>

    $(document).ready(function () {
        let editor;
        let formData = new FormData();

        ClassicEditor
            .create(document.querySelector('#areaInputWiki'))
            .then(newEditor => {
                editor = newEditor;
            })
            .catch(error => {
                console.error(error);
            });

        document.querySelector('#btnSubmitWiki').addEventListener('click', () => {

            let fileInput = document.getElementById("fileInput");
            formData.append("wikiPageID", $("#hiddenWikiPageId").val());
            formData.append("campaignID", $("#hiddenCampaignId").val());
            formData.append("pageName", $("#inputPageName").val());
            formData.append("wikiContent", editor.getData());
            formData.append("file", fileInput.files[0]);

            fetch("api/WikiPage", {
                method: 'POST',
                body: formData
            })
                .then((response) => response.json())
                .then(data => window.location.href = "@Url.Content($"~/Home/WikiContent?WikiPageID=")" + data["wikiPageID"])
                .catch(error => console.error('Unable to create wikiPage', error));
        });
    });
</script>
